@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,500;0,600;1,400&family=Poppins:ital,wght@0,200;0,300;0,400;1,100;1,200;1,300&display=swap');
*{
    padding: 0;margin: 0;box-sizing: border-box;
}

body{
    background-color: #dadada;
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
}


.navbar nav{
    height: 65px;
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3c3c3c;
    color: #fff;
    padding: 0 50px 0 60px;
}
nav h1{
    letter-spacing: 2px;
}

.navbar nav  ul {
    display: flex;
    list-style: none;
}

.navbar nav  ul  li{
    margin: 20px;
    color: #fff;
    /* border: 1px solid; */
    padding: 10px 20px !important;
    border-radius: 5px;
    /* border: 1px solid red !important; */
    transition: all 0.2s ease-in-out;
}

.navbar nav  ul  li:hover{
    background-color: #cfcfcf;
    color: #3c3c3c;
}
.navitem ul a{
    text-decoration: none;
}
#cliker{
    display: none;
}


.menubar i{
    cursor: pointer;
    display: none;
    font-size: 20px;
}
.active{
    background-color: #cfcfcf;
    color: #3c3c3c !important;
}
.menu-cross{
    display: none;
}

@media (max-width:786px)
{
    .navbar nav  ul{
       flex-direction: column;
       text-align: center;
       /* display: inline-block; */
       align-items: center;
       /* justify-content: center; */
       justify-content: space-around;
      
    }
    .navbar nav  ul li{
        margin-bottom: 30px;
    }
    .navbar .navitem{
height: 100vh;
/* background: #666666; */
background: #171515;
left: -100%;
top: 60px;
position: fixed;
/* height: 100vh; */
width: 100%;
display: flex;
justify-content: center;
align-items: center;
    }
    .menubar i{
        display: block;
    }
#cliker:checked ~ .navitem{
    left: 0;
}
    
#cliker:checked ~ .menubar i:before{
    content: "\f00d";
    /* display: block; */
}
}








.loginWrap{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #5f2c82;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #49a09d, #5f2c82);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #49a09d, #5f2c82); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.loginWrap .form{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: 550px;
    width: 400px;
    /* border: 1px solid; */
    border-radius: 3px;
    padding: 20px;
    background-color: #fff;
}
.input_feild{
    /* height: 100px; */
}
.input_feild input{
width: 100%;
/* cursor: pointer; */
padding: 12px;
margin-bottom: 14px;
border: 1px solid #eee;
/* border: none;. */
border-radius: 3px;
outline: none;
transition: 0.2s all ease-in-out;
}
.input_feild input:hover{

    border: 1px solid black;
}
.head{
    height: 70px;
    margin: 20px 0;
    text-align: center;

}
.head i{
    color: #29c5f6;
    margin-bottom: 10px;
    font-size: 3rem;
}
.loginbtn button{
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    background-color: #666666;
    outline: none;
    border: none;
    color: #fff;
    border-radius: 3px;
}
.loginbtn button:hover{
    background-color: #3c3c3c;
}
.forgotpass {
    margin: 18px 0;
    display: flex;
    justify-content: space-between;
}
.forgotpass a{
    text-decoration: none;
    color: #666666;
    font-size: 14px;
}
.otheropt p{
    text-align: center;
   color: #cfcfcf;
}

.social_icon{
    margin: 20px 0;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

}
.social_icon div{
    margin: 9px;
}
.social_icon div i {
    font-size: 1.4rem;
    color: #b4b4b4;
    transition: all 0.2s ease-in-out;
}

.TandC p{
    text-align: center;
    font-size: 13px;
    color: #b4b4b4;
}
.social_icon .g:hover{
    color: #db4a39;
}
.social_icon .git:hover{
    color: #171515  ;
}
.social_icon .f:hover{
    color: #3b5998 ;
}
.social_icon .dot:hover{
    color: #666666;
}